# Node modules
node_modules/

# Next.js build
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env variables
.env*
!.env.example

# Vercel config
.vercel

# System
.DS_Store
*.swp
*.pem

# Coverage
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts
